.mask {
  // background: url('/3164131.jpg') !important;
  background: black !important;
  // background-size:  100% 100% !important;
  // background-repeat: no-repeat !important;
}

// .hero{
// height:800px !important;
// }


#app .content__default:not(.custom),#app .page .page-title  {
  max-width: 90% ;
}

.page .page-edit, .page-nav {
  max-width: 90% !important;
}