.mask{
  // background: url('/3164131.jpg') !important;
  background:black !important;
  // background-size:  100% 100% !important;
  // background-repeat: no-repeat !important;
}
// .hero{
//   height:800px !important;
// }